---
layout: default
---

<aside class="sidebar">
  <header>
    <div class="about">
      <div class="cover-author-image">
        <a href="{{site.baseurl}}/"><img src="{{site.author-img}}" alt="{{site.author}}"></a>
      </div>
      <div class="author-name">{{site.author}}</div>
      <p>{{site.about-author}}</p>
      <ul class="menu">
        <li><a href="/training/intro">🔷 Introduction</a></li>
        <li><a href="/training/preparing-for-training">🔷 Preparing</a></li>
        <li><a href="/training/lab-intro">🔷 Lab Intro</a></li>
        <li><a href="/training/ad-intro">🔷 Active Directory</a></li>
        <li><a href="/training/ad-user-requests">&nbsp&nbsp🔹 User Accounts</a></li>
        <li><a href="/training/ad-group-requests">&nbsp&nbsp🔹 Groups</a></li>
        <li><a href="/training/ad-access-permission-issues">&nbsp&nbsp🔹 Access/Permissions</a></li>
        <li><a href="/training/ns-intro">🔷 Network Shares</a></li>
        <li><a href="/training/ns-quota-management">&nbsp&nbsp🔹 Quotas</a></li>
        <li><a href="/training/ns-permission-management">&nbsp&nbsp🔹 Permissions</a></li>
        <li><a href="/training/resources">🔷 Resources</a></li>
        <li><a href="/training/computer-naming-convention">&nbsp&nbsp🔹 Naming Convention</a></li>
        <li><a href="/training/evaluation">🔷 Evaluation</a></li>
      </ul>
      <hr />
      <ul class="menu">
        <li><a href="/about">🔶 About</a></li>
        <li><a href="https://github.com/VertigoRay/LTEC5220.ray.pillers.us">🔶 Fork Me</a></li>
        <li><a href="https://blog.vertigion.com">🔶 Blog</a></li>
      </ul>
    </div>
  </header> <!-- End Header -->
  <footer>
    <section class="contact">
      <div class="cover-author-image">
        <a href="https://stackexchange.com/users/305326">
          <img src="https://stackexchange.com/users/flair/305326.png?theme=clean" alt="VertigoRay on Stack Exchange"
            title="VertigoRay on Stack Exchange"
            style="width: 100%"
          />
        </a>
      </div>
      <h3 class="contact-title">Contact me</h3>
      <ul>
        {% if site.social-twitter %}
          <li><a href="https://twitter.com/{{ site.social-twitter }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.social-facebook %}
          <li><a href="https://facebook.com/{{ site.social-facebook }}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.social-github %}
          <li class="github"><a href="http://github.com/{{site.social-github}}" target="_blank"><i class="fa fa-github"></i></a></li>
        {% endif %}
        {% if site.social-linkedin %}
          <li class="linkedin"><a href="https://in.linkedin.com/in/{{site.social-linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        {% endif %}
        {% if site.social-email %}
          <li class="email"><a href="mailto:{{site.social-email}}"><i class="fa fa-blogger-b"></i></a></li>
        {% endif %}
        {% if site.social-email %}
          <li class="email"><a href="mailto:{{site.social-email}}"><i class="fa fa-envelope-o"></i></a></li>
        {% endif %}
      </ul>
    </section> <!-- End Section Contact -->
    <div class="copyright">
      <p>{{site.time | date: '%Y'}} &copy; {{site.author}}</p>
    </div>
  </footer> <!-- End Footer -->
</aside> <!-- End Sidebar -->
<div class="content-box clearfix">
  {{ content }}
</div>
